/* Define the custom class */
.hero-section {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(67, 67, 67, 0.7), rgba(119, 119, 119, 0.5), rgba(187, 187, 187, 0.3), rgba(255, 255, 255, 0.1)), url('assets/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .hero-section {
    padding-left: 8rem; 
    padding-right: 8rem; 
  }
}

/* Container Styles */
.content-container {
  width: 100%; 
  margin-top: 2.5rem; 
}

@media (min-width: 1024px) {
  .content-container {
    width: 80%;
  }
}

/* Spacing between elements */
.space-y-5 > * + * {
  margin-top: 1.25rem; 
}

/* Heading Styles */
.heading {
  font-size: 3rem; 
  font-weight: bold;
  line-height: 1.1; 
}

.button {
  background-color: #DAA520; 
  color: white;
  padding: 0.5rem 1rem; 
  border-radius: 0.475rem; 
  transition: background-color 0.3s ease-in-out; 
}

.button:hover {
  background-color: #FFD700; 
}

.navigation-bar-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; 
  padding-left: 20px; 
  padding-right: 20px; 
  background-color: rgba(187, 187, 187, 0.3); 
  box-shadow: rgba(245, 241, 241, 0) 0px 3px 8px;
}

@media (min-width: 768px) {
  .container {
      padding-left: 128px; 
      padding-right: 128px; 
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.title {
  font-size: 1.9rem; 
  font-weight: 700; 
}

.nav-bar-elements
{
  display: none;

  /* Show on large screens and above */
  @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.125rem; 
      font-weight: 500; 
      gap: 2rem; 
  }
}

.link {
  cursor: pointer;
  transition: color 0.3s ease; 
  color: initial;
  
}

.link:hover {
  color: rgba(34, 33, 33, 0.784); 
  text-decoration: underline;
}

.aboutus-container {
  min-height: 100vh; /*sets minimum height to the full viewport height */
  display: flex; 
  flex-direction: column; 

  justify-content: space-between; 
  align-items: center; 

  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 6rem; 
  gap: 1.25rem; 

  
  @media (min-width: 1024px) {
      flex-direction: row; 
      padding-left: 8rem; 
      padding-right: 8rem; 
      padding-top: 4rem; 
  }
}

.aboutus-para-container {
  width: 100%; 
  margin-bottom: 1rem; 

  /* Responsive styles for large screens and above */
  @media (min-width: 1024px) {
      width: 75%; 
  }
}

.aboutus-para-container > * + * {
  margin-top: 1rem; 
}

.abouust-heading {
    font-size: 2.25rem; 
    font-weight: 600; 
    text-align: center; 

    /* Responsive styles for large screens and above */
    @media (min-width: 1024px) {
        text-align: start; 
    }
}

.aboutus-para {
  text-align: justify; 
  
  /* Responsive styles for large screens and above */
  @media (min-width: 1024px) {
      text-align: start; 
  }
}

.aboutus-img-container {
  width: 100%; 

  /* Responsive styles for large screens and above */
  @media (min-width: 1024px) {
      width: 75%; 
  }
}

.aboutus-img {
  border-radius: 0.5rem; 
  width: 100%; 
  height: auto; 
}